---
import Nav from "../components/organisms/Nav.astro";
import Layout from "../layouts/Layout.astro";

import CallAction from "../components/organisms/CallAction.astro";
import Footer from "../components/organisms/Footer.astro";
import Intro from "../components/organisms/Intro.astro";
import Servicios from "../components/organisms/Servicios.astro";
import Carrusel from "../components/organisms/Carrusel.astro";
import TopSection from "../components/organisms/TopSection.astro";
---

<Layout
  title="Desarrollo web, desarrollo de aplicaciones | "
  description="Desarrollo web y desarrollo de aplicaciones como agencia digital en "
  img="https://res.cloudinary.com/dp9ldjfem/image/upload/v1714516496/agency/Social/t2amb5ggyzgdhrwngevs.webp"
>
  <Nav />
<div style="background-image: url(/images/BgTilts.png);">

  <TopSection />
  
  
  <Carrusel />
  
  
  <Servicios />
  
</div>

  <Intro />
<div style="background-image: url(/images/BgTilts.png);">

  <CallAction />
  
  
  <Footer />
</div>


</Layout>

<style>
  body {
    font-family: "Satoshi", sans-serif;
  }

  a {
    text-decoration: none;
    color: white;
  }


</style>
