---
import Nav from "../components/organisms/Nav.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout
title="Desarrollo web, desarrollo de aplicaciones | "
description="Desarrollo web y desarrollo de aplicaciones como agencia digital en "
img="https://res.cloudinary.com/dp9ldjfem/image/upload/v1714516496/agency/Social/t2amb5ggyzgdhrwngevs.webp"
>

<Nav />

<section id="top">
	<div style="display: flex; justify-content: center; align-items: center;">

		<span>Integrall<br>.Dev <a href="">saber más <span>+</span></a></span>
	</div>
</section>

<section id="carrusel">

	<div>
		<h3 style="text-transform: uppercase">Desarrollo<br> de software</h3>
	</div>
</section>

<section id="links">
	<div>
		<a href="">web</a>
		<hr>

		<a href="">apps</a>
		<hr>

		<a href="">stores</a>
		<hr>
		
	</div>
</section>

</Layout>