---
import Cid from "../../components/icons/Cid.astro";
---

<section>
  <div class="footer">
    <span>©copyright 2024 INTEGRALL.DEV</span>
    <span>by <Cid /> </span>
  </div>
</section>

<style>
  .footer {
    margin-top: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media(min-width: 980px){
      padding: 20px 60px;
    }
  }
</style>
