---

---

<section id="intro">
    <img
      src="/images/Group59.png"
      alt="integrall .Dev diseño digital"
      style="margin-bottom: 26px"
    />
    <div class="introText">

      <p style="font-size: 20px">INTEGRALL.DEV es parte de <br />Centro Integral de Diseño.</p>
      <p>
        Somos una agencia de diseño lider que combina estrategia, creatividad y
        tecnología para brindar soluciones visuales y digitales impactantes. Con
        un enfoque centrado en el usuario, ofrecen servicios integrales que
        incluyen branding, diseño gráfico, desarrollo web y marketing digital,
        ayudando a las marcas a destacar y prosperar en el mundo digital.
      </p>
    </div>
  </section>

  <style>

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 35px;

    @media(min-width: 980px) {
      padding:  0px 120px;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0;
    }

    p {
      font-family: "Satoshi Regular", sans-serif;
      font-size: 12px;
      line-height: 1.8;
      font-weight: 100;
      text-align: center;

      @media(min-width: 980px) {
      font-size: 16px;
      text-align: left;
    }
    }
  }

  .introText{
    width: 270px;
    @media(min-width:980px){
      width: 340px;
    }
  }

  </style>